.eachItem {
  display: flex;
  padding: 10px;
  align-items: center;
}

.eachItem p {
  padding-left: 10px;
}
.removeItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.myheader {
  padding: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.myform {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}
input {
  height: 30px;
}
.myform label {
  margin-top: 10px;
}
.myButton {
  margin-top: 10px;
}
