ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.cartButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainCard {
  padding-bottom: 40px;
}

.description {
  padding: 20px;
}

.button {
  background-color: #fac42f; /* Green */
  border: none;
  padding: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #fff222;
}
.button:hover {
  background-color: red !important;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
}
.closebutton {
  border-radius: 40px;
  text-decoration: none;
  border: none;
}
.closebutton:hover {
  background-color: aquamarine;
}

.productdetails {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productdetails p {
  padding: 20px;
  width: 800px;
}

@media (max-width: 800px) {
  .productdetails p {
    padding: 20px;
    width: 300px;
  }
}
